footer{
  width: 100%;
  background-color: black;
}

label{
  color: white;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 3vh;
}

.footer-main{
  padding: 6vh 0;
  display: flex;
  flex-flow: wrap column;
  align-items: center;
  justify-content: center;
}