footer{
  width: 100%;
  background-color: black;
}

footer li{
  color: white;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 3vh;
  list-style: none;
  text-align: center;
}

footer a:hover{
  border-bottom: 2px solid white;
}

footer a:active{
  color: cornflowerblue;
  border-color: cornflowerblue;
}

.footer-main{
  padding: 6vh 0;
  display: flex;
  flex-flow: wrap column;
  align-items: center;
  justify-content: center;
}