body {
    background: #121212;
}

a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
}

a:hover {
    opacity: 0.7;
}

.site-container {
    margin: 0 20%;
}

.nav-list {
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
}

.nav-list li {
    list-style: none;
}

