:root {
  --filter-aqua: brightness(0) saturate(100%) invert(82%) sepia(59%) saturate(5484%) hue-rotate(121deg) brightness(107%) contrast(111%);
  --filter-white: brightness(0) saturate(100%) invert(100%) sepia(71%) saturate(752%) hue-rotate(177deg) brightness(107%) contrast(105%);
}



h3 {
  font-family: 'Roboto';
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
  font-weight: 400;
  margin-top: 16px;
}

li {
  list-style: none;
}

p {
  line-height: 1.5;
}

h1 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Comfortaa';
  letter-spacing: 0.06em;
  font-weight: 600;
  font-size: 48pt;
  line-height: 84px;
  color: white;
  text-shadow: -2px 0px 0px #4786FF, -4px 0px 0px #FFCC47, -6px 0px 0px #D7263D;
  margin: 150px 0 450px 0;
}


main img,
footer img {
  width: 250px;
}

.logo {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

h2,
h3,
h4,
h5,
h6,
p,
.box li {
  color: white;
  font-family: 'Roboto', sans-serif;
}

h2,
p,
.box li,
.box a,
.box button {
  font-style: normal;
  font-size: 18pt;
  text-align: justify;
}

h2 {
  margin-bottom: 30px;
}

.box {
  min-height: 280px;
  display: flex;
  flex-flow: nowrap column;
  justify-content: center;
  align-content: center;
  background-repeat: no-repeat;
  background-size: auto;
}

.box:not(:last-child) {
  margin-bottom: 400px;
}

.box:last-child {
  margin-bottom: 300px;
}

.box1 {
  background-image: url('../assets/comment1.svg');
  background-position: left center;
}

.box2 {
  background-image: url('../assets/present.svg');
  background-position: right center;
}

.box3 {
  background-image: url('../assets/future.svg');
  background-position: left bottom;
  background-size: 400px;
}

.box4 {
  background-image: url('../assets/comment2.svg');
  background-position: right center;
}

.box5 {
  background-image: url('../assets/monitor.svg');
  background-position: center center;
}

.box5 ul li {
  list-style: square;
}

.box6 {
  background-image: url('../assets/cellphone.svg');
  background-position: center center;
}

.box-center {
  text-align: center;
}

.box5 ul {
  margin: 0 auto;
}

.box-left h2,
.box-left p {
  margin-left: 20%;
}

.box-right h2,
.box-right p {
  margin-right: 20%;
}

.box-center h2,
.box-center p,
.box-center a {
  text-align: center;
}

#github {
  background: url('../assets/github.svg') no-repeat center center;
  background-size: cover;
}

#linkedin {
  background: url('../assets/linkedin.svg') no-repeat center center;
  background-size: cover;
}

#whats {
  background: url('../assets/whatsapp.svg') no-repeat center center;
  background-size: cover;
}

#gmail {
  background: url('../assets/gmail.svg') no-repeat center center;
  background-size: cover;
  margin: 0 1.1rem;
}

.social {
  background-color: transparent;
  border: 0 solid transparent;
  width: 50px;
  height: 50px;
  margin: 0 1rem;
}

.social-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social {
  transform: scale(1);
  transition: 300ms;
}

/* Animações */

.social:hover {
  transition: 300ms;
  cursor: pointer;
  z-index: 1;
  transform: scale(1.5);
}

.box[data-scroll="in"] {
  animation: boxslide .7s;
  visibility: visible;
}

.box[data-scroll="out"] {
  visibility: hidden;
}

@keyframes boxslide {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.spanEmail {
  width: 361.55px;
  padding: 12px 30px;
  border: 2px solid white;
  border-radius: 10px;
  background: linear-gradient(135deg, #0e0e0e 0%, #020202 100%);
}

.spanEmail ul li{
  text-align: center;
}

.imgCopy,
.imgCopy img {
  width: 30px;
  height: 30px;
}

.imgCopy {
  margin-left: 20px;
}

.imgCopy:hover {
  cursor: pointer;
}

.spanEmail,
.imgCopy {
  animation: mailslide 200ms;
}

.margin-top {
  display: flex;
  align-items: center;
  margin-top: 25px;
}

@keyframes mailslide {
  from {
    margin-top: -25px;
    opacity: 0;
  }

  to {
    margin-top: 0px;
    opacity: 1;
  }
}

.spanEmail ul li {
  font-family: 'Consolas';
  font-size: 14pt;
  font-style: italic;
  color: #f50052;
}

.spanEmail ul li::before,
.spanEmail ul li::after {
  content: "'";
}

#copiarEmail{
  transform: scale(1);
  transition: 300ms;
}

.active{
  animation: mailclick .2s;
}

@keyframes mailclick{
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(0.8);
  }
  100%{
    transform: scale(1);
  }
}

