@media (max-width: 600px){
    .site-container{
        margin: 0 5%;
    }

    h1{
        font-size: 52px;
        text-shadow: -1px 0px 0px #FF5151, -2px 0px 0px #FFCC47, -3px 0px 0px #4786FF;
    }

    .box p, .box li, .box a{
        font-size: 20pt;
    }
    
    h2{
        font-size: 26px;
        text-align: center;
    }

    .box1, .box2, .box3, .box4, .box5, .box6{
        background-position: center top;
    }

    .box-left h2, .box-left p{
        margin-left: 0;
    }
    
    .box-right h2, .box-right p{
        margin-right: 0;
    }

    h2{
        text-align: center;
    }
}

@media (max-width: 1000px){
    .site-container{
        margin: 0 10%;
    }

    .box1, .box2, .box3, .box4, .box5, .box6{
        background-size: 250px;
    }
    

    .box-list p, .box-list li, .box-list a, button{
        font-size: 15pt;
    }
    
    h2{
        font-size: 22pt;
    }
}